---
interface Props {
  afterTitle?: string;
  title: string;
}

const site = Astro.site;
const { title } = Astro.props;
---

<div
  id="about"
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-200 py-12"
>
  <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
    <h2 class="tracking-wide text-green-400 font-bold text-4xl mb-4">
      {title}
    </h2>
    <div class="font-light text-black text-xl mb-6">
      <slot />
    </div>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-4">
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about1.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about2.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about3.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about4.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about5.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about6.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about7.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about8.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about9.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="img/abouts/about10.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
