---
interface Props {
  title: string;
}

const site = Astro.site;
const { title } = Astro.props;
---

<div
  id="map"
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 py-12"
>
  <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
    <h2 class="tracking-wide text-green-400 font-bold text-4xl mb-16">
      {title}
    </h2>
  </div>

  <div class="w-2/3 min-h-96" id="mapbox"></div>
</div>

<script>
  import mapboxgl from "mapbox-gl";
  mapboxgl.accessToken =
    "pk.eyJ1IjoieGF2eTI2MDMiLCJhIjoiY2x2b2FxN3N5MG40ODJqbGxlaWVmb2FmeSJ9.81UW7tSph7ikowQkHTvuzw";
  const map = new mapboxgl.Map({
    container: "mapbox",
    style: "mapbox://styles/mapbox/satellite-streets-v12",
    zoom: 14,
    center: [-79.676977, -2.985174],
    scrollZoom: false,
  });
  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  const marker = new mapboxgl.Marker({
    color: "#FF0000",
  }).setLngLat([-79.655977, -2.958574])
    .addTo(map);

</script>

<style>
  #mapbox {
    height: 600px;
  }
</style>
