---
interface Props {
  title: string;
}

const site = Astro.site;
const { title } = Astro.props;
---

<div
  id="map"
  class="mx-auto w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 py-12"
>
  <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
    <h2 class="tracking-wide text-green-400 font-bold text-4xl mb-16">
      {title}
    </h2>
  </div>

  

  <div
    class="w-11/12 mx-auto min-h-[32rem] justify-center self-center text-center shadow-lg"
    id="mapbox"
  >
  </div>
</div>

<script>
  import mapboxgl from "mapbox-gl";

  mapboxgl.accessToken =
    "pk.eyJ1IjoieGF2eTI2MDMiLCJhIjoiY2x2b2FxN3N5MG40ODJqbGxlaWVmb2FmeSJ9.81UW7tSph7ikowQkHTvuzw";
  const map = new mapboxgl.Map({
    container: "mapbox",
    style: "mapbox://styles/mapbox/satellite-streets-v12",
    zoom: 14,
    center: [-79.676977, -2.985174],
    scrollZoom: false,
    attributionControl: false,
  });

  const marker = new mapboxgl.Marker({
    color: "#FF0000"
  }).setLngLat([-79.676977, -2.985174])
    .addTo(map);
</script>

<style>
  #mapbox .mapboxgl-control-container {
    display: none;
  }
  .mapboxgl-ctrl-bottom-right {
    display: none;
  }
</style>
