---
interface Props {
  title: string;
}

const site = Astro.site;
const { title } = Astro.props;
---

<div
  id="map"
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 py-12"
>
  <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
    <h2 class="tracking-wide text-green-600 font-bold text-4xl mb-16">
      {title}
    </h2>
  </div>

  <div
    class="px-16 md:grid md:grid-cols-4 md:gap-8 lg:gap-12 xl:gap-16 dark:bg-gray-900"
  >
  </div>
</div>
