---
import abouts from "../../data/services.json";
import ServiceModal from "../ServiceModal.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  id="services"
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 py-12"
>
  <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
    <h2 class="tracking-wide text-green-400 font-bold text-4xl mb-16">
      {title}
    </h2>
  </div>
  <div
    class="px-16 md:grid md:grid-cols-4 md:gap-8 lg:gap-12 xl:gap-16 dark:bg-gray-900"
  >
    {
      abouts.map((about, index) => (
        <ServiceModal
          title={about.title}
          description={about.desc}
          image={about.image} 
        />
      ))
    }
  </div>
</div>
