---
import abouts from "../../data/services.json";
import ServiceCard from "../ServiceCard.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
let open = false;
---

<div
  id="services"
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 py-12"
>
  <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
    <h2 class="tracking-wide text-green-400 font-bold text-4xl mb-16">
      {title}
    </h2>
  </div>
  <div class="cont">
    <div class="swiper mySwiper">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-wrapper">
        {
          abouts.map((about) => (
            <div class="swiper-slide">
              <ServiceCard
                title={about.title}
                description={about.desc}
                image={about.image}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  .cont {
    height: 100%;
    width: 100%;
  }
  .cont .swiper {
    width: 100%;
    padding: 10px 60px;
  }
  .container .swiper-slide {
    position: relative;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-prev {
    position: absolute;
    /* left: -40px; */
    color: #31c48d;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .swiper-button-next {
    /* right: -40px; */
    z-index: 100;
    color: #31c48d;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
</style>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    spaceBetween: 30,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
    },
  });
</script>
