<div class="md:mx-36 sm:mx-0 my-20 z-10 bg-gray-100 md:rounded-full sm:rounded-3xl shadow absolute bottom-0 self-center">
  <div class="grid gap-5 mx-24 sm:mx-12 my-1 md:grid-cols-3 sm:grid-cols-1">
    <div class="overflow-hidden text-center">
      <div class="px-4 py-5 lg:p-6">
        <dl>
          <dt class="text-sm sm:text-xs font-medium sm:font-normal leading-5 text-gray-500 truncate">
            Total Subscribers
          </dt>
          <dd class="mt-1 text-3xl font-semibold leading-9 text-gray-900">
            71,367
          </dd>
        </dl>
      </div>
    </div>
    <div class="overflow-hidden text-center">
      <div class="px-4 py-5 lg:p-6">
        <dl>
          <dt class="text-sm font-medium leading-5 text-gray-500 truncate">
            Avg. Open Rate
          </dt>
          <dd class="mt-1 text-3xl font-semibold leading-9 text-gray-900">
            53.16%
          </dd>
        </dl>
      </div>
    </div>
    <div class="overflow-hidden text-center">
      <div class="px-4 py-5 lg:p-6">
        <dl>
          <dt class="text-sm font-medium leading-5 text-gray-500 truncate">
            Avg. Click Rate
          </dt>
          <dd class="mt-1 text-3xl font-semibold leading-9 text-gray-900">
            21.57%
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
