---
const minValues =[
  {
    name: 'Oro',
    value: 2319.455,
    variation: -0.19,
    color: 'yellow-400'
  },
  {
    name: 'Plata',
    value: 26.63950,
    variation: -0.68,
    color: 'gray-400'
  },
  {
    name: 'Cobre',
    value: 4.53073,
    variation: -0.49,
    color: 'red-400'
  }
]
---
<div class="md:mx-24 sm:mx-0 my-16 z-10 bg-gray-100 md:rounded-full sm:rounded-3xl shadow absolute bottom-0 self-center">
  <div class="grid gap-5 mx-24 sm:mx-12 my-0 md:grid-cols-3 sm:grid-cols-1">
    {
      minValues.map((item) => (
        <div class="overflow-hidden text-center">
          <div class="px-4 py-4 lg:p-6">
            <dl>
              <dt class={`text-2xl font-bold leading-5 text-${item.color} truncate`}>
                {item.name}
              </dt>
              <dt class="mt-1 text-sm font-normal leading-5 text-gray-500">
                {item.variation} %
              </dt>
              <dd class="text-2xl font-medium leading-6 text-gray-900">
                {item.value}
              </dd>
            </dl>
          </div>
        </div>
      ))
    }
  </div>
</div>
